production:
  adapter: sparql
  query_endpoint: http://localhost:8000/sparql/
  update_endpoint: http://localhost:8000/update/

development:
  adapter: sparql
  query_endpoint: http://localhost:8000/sparql/
  update_endpoint: http://localhost:8000/update/

